  <body>
    <header>
      <img src="http://i.imgur.com/hV6KtlN.png?1">
      <p id="the">The</p>
      <p id="yardBook">YARD</p>
      <p id="yardBook">BOOK</p>

    </header>


    <nav>
      <% if current_user.nil? %>
      <%= link_to "Login", new_user_session_path, class: "navButton" %>
      <% else %>
      <%= link_to "Logout", destroy_user_session_path, class: "navButton" %>
      <% end %>
    </nav>


    <div id="mainContainer">
      <% @users.each do |user| %>
        <% if user.profile_pic? %>
        <div class="hexContainer"  >
        <% else %>
        <div class="hexContainer">
        <% end %>
          <%= link_to(user) do %>
          <div class="hexagon" style="background-image: url('<%= user.profile_pic.url %>'); background-repeat:no-repeat">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>




  </body>
