  <body>
    <header>
      <div id="ribbon"></div>
      <p id="the">The</p>
      <p id="ironYard">IRON</p>
      <p id="ironYard">YARD</p>

    </header>

    <nav>
      <a href="#" class="navButton">Sign In</a>
    </nav>

    <div id="mainContainer">

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>

      <div class="hexContainer">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>


    </div>  

  </body>